<div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
                
                <h1>About Us</h1>
                <p>The idea of this website and the mobile application is intended for doctors so that they can manage everything related to their patients through a web application and a mobile application</p>
                <p>A doctor has many patients and each patient has a different medical history with your respective medical treatment. The website and the mobile application provide an user interface that makes easier the management of patient information. A doctor must access only to the information of your patients.</p>
                
            </div>
        </div>
    </div>