<div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
                
                <h1>Contact Us</h1>
                
                <div class="col-xs-12 col-sm-6">
                    <address>
                      <strong>The best doctor's friend, Inc.</strong><br>
                      Caracas, Municipio Libertador<br>
                      Dto. Capital, Venezuela<br>  
                      <i class="fa fa-phone"></i>: +58 414 7440817<br>
                      <i class="fa fa-envelope"></i>: <a href="mailto:ignacp@gmail.com">ignacp@gmail.com</a>                
                    </address>            
                </div>
            </div>
        </div>
    </div>