<div class="container">
 		<div class="row row-content">
 			<div class="col-xs-12">
 				
 				<h1>Welcome to the best doctor's friend website!</h1>                
 				<h4>The application that helps doctors in their daily work.</h4>

                <h4>List of Features:</h4>
                <ul class="list-unstyled">
                    <li><span class="fa fa-check-circle"
                             aria-hidden="true"></span> Add a patient</li>
                    <li><span class="fa fa-check-circle"
                             aria-hidden="true"></span> Edit a patient</li>
                    <li><span class="fa fa-check-circle"
                             aria-hidden="true"></span> Delete a patient</li>
                </ul>
 			</div>

 		</div>
 	</div>