<div class="container">

		<div class="row">
            <div class="col-xs-12">
               <h3>Patients List</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showPatientsList">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showPatientsList">
                
                <div class="col-xs-6">                 
	            <div class="panel panel-primary" ng-repeat="patient in patients">
					<div class="panel-heading">
					    <h3 class="panel-title">{{patient.firstName}} {{patient.lastName}}</h3>
					</div>
					
					<div class="panel-body">
					    <h4>Age: {{patient.age}}</h4>
					    <a ui-sref="app.patientdetail({id: patient._id})">
					    <h4>Details</h4>	
					    </a>			    
					</div>
				</div>
				</div> 
				<div class="col-xs-6"></div>				
            </div>
        </div>
    </div>
